@media (min-width: 320px) and (max-width: 991px) {
  .topnav {
    width: 100%;
  }
  .logo img {
    margin-left: -40px;
  }
  /* Navabr */
  .menu-items {
    display: none;
    flex-direction: column;
    background: #dd7676;
    position: absolute;
    top: 93px;
    right: 0;
    width: 50%;
    text-align: center;
    padding: 5px 0;
  }
  .menu-items a {
    display: block;
    padding: 0px;
  }
  .icon {
    display: block;
  }
  .menu-items.active {
    display: flex;
  }

  .common_title {
    font-size: 2rem;
  }

  /* banner slider */
  .carousel {
    height: 160px;
    width: 100%;
  }
  .carousel-button {
    font-size: 2.5rem;
  }
  .carousel [data-carousel-dots] [data-carousel-dot] {
    height: 0.6rem;
    width: 0.6rem;
  }

  /* Hero section */
  main {
    margin-left: 5%;
    margin-right: 5%;
  }
  .hero-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .main-heading {
    font-size: 2rem;
  }
  .text-description {
    font-size: 1rem;
    text-align: justify;
  }
  .image-container {
    justify-content: center;
  }
  .hero-img {
    width: 80%;
  }

  /* offer section */
  .offers {
    margin: 30px 5%;
  }
  .pricing-cards {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
  .card {
    max-width: 100%;
    width: 90%;
    margin-bottom: 15px;
  }
  .offers-heading {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  .toggle-switch {
    margin: 15px 0;
  }

  /* popup model */
  .modal {
    top: 110px;
    width: 70%;
  }
  .modal-content {
    margin-left: 20px;
  }
  .modal-content h2 {
    font-size: 24px;
  }
  .modal-content p {
    font-size: 12px;
    text-align: justify;
  }
  .card-ul li {
    font-size: 12px;
  }
  .modal-footer {
    display: none;
  }
  .modal-content ul {
    padding-left: 0;
  }

  /* Services Section */
  .services-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .services-list-items {
    background-color: rgba(241, 0, 0, 0.404);
    color: white;
    width: 140px;
    height: 110px;
  }
  .services-list-heading {
    font-size: 10px;
  }

  /* Choose Us Section */
  .choose-us-image {
    width: 300px;
    margin-left: 30px;
  }
  .choose-us-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .choose-us {
    margin: 5% 4%;
  }
  .choose-us-title {
    font-size: 2rem;
  }
  .choose-us-list-div {
    grid-template-columns: repeat(2, 1fr);
  }
  .choose-us-benefits {
    grid-template-columns: 1fr;
  }
  .choose-us-benefit-item {
    font-size: 0.9rem;
    padding: 0.8rem;
  }

  /* Growth Section */
  .growth {
    margin: 5% 4%;
  }
  .growth-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .growth-text {
    width: 350px;
  }
  .growth-sub-heading {
    font-size: 20px;
  }
  .growth-heading-detail {
    font-size: 1rem;
    margin: 1rem 0 1rem 0;
    text-align: justify;
  }
  .growth-img {
    width: 70%;
  }
  .growth-container > :first-child {
    order: 2;
  }
  .growth-container > :last-child {
    order: 1;
  }
  .growth-text-detail {
    margin-top: 10px;
  }

  .contact-info {
    height: 330px;
  }
}
